<html>
<head>
    <title>Login</title>
    <script src="{{ url_for('static', filename='js/change_age.js') }}"></script>
</head>
<body>
Hello {{ user.name }}, your age is <span id="age">{{ user.age }}</span> <br/>
<a href="/logout">Log out</a><br/>

{% if notice is defined %}
Notice: {{ notice }}<br/>
{% endif %}

<form id="change_age_form">
    Change age: <input type="text" name="age" id="age_field"/><br/>
    <input type="button" value="submit" onclick="changeAgeRequest()"/><br/>
    <span id="notice"></span>
</form>
</body>
</html>